<template>
  <div class="container">

    <div class="row">
      <div class="col">
        <h3>¿Estás seguro que deseas eliminar este libro?</h3>
        <p>Título : {{ this.element.title }}</p>
        <p>Descripción : {{ this.element.description }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
          <b-button v-on:click="deleteBook" variant="danger">Eliminar</b-button>
          <b-button type="submit" class="btn-large-space" :to="{name: 'ListBook'}">Cancelar</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert'
export default {
  data () {
    return {
      bookId: this.$route.params.bookId,
      element: {
        title: '',
        description: ''
      }
    }
  },
  methods: {
    getBook () {
      const PATH = `http://localhost:8000/api/v1/books/${this.bookId}/`
      axios
        .get(PATH)
        .then(res => {
          this.element.title = res.data.title
          this.element.description = res.data.description
        })
        .catch(err => {
          console.log('Error: ', err)
        })
    },
    deleteBook () {
      const PATH = `http://localhost:8000/api/v1/books/${this.bookId}/`
      axios
        .delete(PATH)
        .then(res => {
          location.href = '/books'
        })
        .catch(() => {
          swal('No es posible eliminar el libro', '', 'error')
        })
    }
  },
  created () {
    this.getBook()
  }
}
</script>

<style></style>
