<template>
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <div>
          <h2>Listado de libros</h2>
          <b-button size="sm" variant="primary" :to="{ name: 'NewBook' }">
            Nuevo libro
          </b-button>
        </div>
        <br>
        <div class="col-md-12">
          <b-table striped hover :items="books" :fields="fields">
            <template #cell(action)="data">
              <b-button size="sm" variant="primary" :to="{ name: 'EditBook', params: { bookId: data.item.id }}">
                Editar
              </b-button>
              <b-button size="sm" variant="danger" :to="{ name: 'DeleteBook', params: { bookId: data.item.id }}">
                Borrar
              </b-button>
            </template>
          </b-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      fields: [
        { key: 'title', label: 'Título' },
        { key: 'description', label: 'Descripción' },
        { key: 'action', label: '' }
      ],
      books: []
    }
  },
  methods: {
    getBooks () {
      const PATH = 'http://localhost:8000/api/v1/books/'
      axios
        .get(PATH)
        .then(res => {
          this.books = res.data
        })
        .catch(error => {
          console.log('Error: ', error)
        })
    }
  },
  created () {
    this.getBooks()
  }
}
</script>

<style></style>
